.blue{
    color: blue;
}

.bg-blue{
    background-color: blue;
}
.text-white{
    color: white;
}

.mb-50{
    margin-bottom: 50px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.w-30{
    width: 30%;
}

.txt-center{
    text-align: center;
}

.display-none{
    display: none;
}

.casecocher{
padding-top: 20px;
padding-bottom: 20px;
border:solid 5px black
}